@import url('https://fonts.googleapis.com/css?family=Raleway');

:root
{
    --sn-color-1: #4D5D6C;
    --sn-color-2: rgb(0, 0, 0);
    --sn-color-menu-text: black;
    --sn-color-menu-icons: white;
    --sn-color-menu-border: white;
    --sn-color-menu-hover: rgb(205, 205, 205);

    /* Color scheme for the assets (search results, 1st collumn) */
    --sn-color-asset-id: rgb(0, 0, 0);
    --sn-color-asset-title: rgb(240, 240, 240);
    --sn-color-asset-body: rgb(255, 255, 255);
    --sn-color-asset-data: rgb(0, 0, 0);

    /* Color scheme for transactions (2nd collumn) */
    --sn-color-transaction-id: rgb(255, 255, 255);
    --sn-color-transaction-title: rgb(150, 150, 150);
    --sn-color-transaction-body: rgb(165, 165, 165);
    --sn-color-transaction-data: rgb(255, 255, 255);

    /* Color scheme for transaction details (3rd collumn) */
    --sn-color-detail-id: rgb(255, 255, 255);
    --sn-color-detail-title: rgb(0, 0, 0);
    --sn-color-detail-body: rgb(40, 40, 40);
    --sn-color-detail-data: rgb(255, 255, 255);

    --sn-color-snoop-search: rgb(205, 205, 205);
    --sn-color-snoop-search-input-bg: rgb(255, 255, 255);
    --sn-color-snoop-search-input: black;
    --sn-size-snoop-search-input-border: 0px;
    --sn-color-snoop-search-input-border: rgb(0, 0, 0);

    --sn-color-snoop-transactions: rgb(230, 230, 230);

    --sn-color-snoop-details: rgb(255, 255, 255);

    --sn-color-snoop-title: black;

    --sn-menu-width: 75px;
    --sn-menu-font-size: calc(var(--sn-menu-width) * 0.4);

    --sn-item-border-radius: 3px;

    /* color scheme for settings page */
    --sn-color-settings-pane: black;
    --sn-color-settings-pane-button: white;
    --sn-color-settings-pane-button-text: black;
    --sn-color-settings-pane-button-text-hover: rgb(240, 240, 240);
}

*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'Raleway', sans-serif;
}

body
{
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: gray;
}

#snooper
{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: var(--sn-color-1);

    display: flex;
    flex-direction: row;
}

#snooper #menu
{
    height: 100%;
    width: var(--sn-menu-width);

    background-color: var(--sn-color-2);
    color: var(--sn-color-menu-text);

    display: flex;
    flex-direction: column;
}

#snooper #menu .menu-button
{
    width: var(--sn-menu-width);
    height: var(--sn-menu-width);

    color: var(--sn-color-menu-icons);


    line-height: var(--sn-menu-width);
    font-size:   var(--sn-menu-font-size);

    text-align: center;

    cursor: pointer;

    border-bottom: 1px solid var(--sn-color-menu-border);
}

#snooper #menu .menu-button:hover
{
    transition: 0.2s;
    background-color: var(--sn-color-menu-hover);
}

#snooper #menu #r3c-logo
{
    width: var(--sn-menu-width);
    height: auto;
    position: absolute;
    bottom: 0;
}

#snooper #content
{
    height: 100%;
    width: 100%;
    background-color: var(--sn-color-1);

    position: relative;

    overflow: hidden;
}

#snooper #content .content-pane
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#snooper #content .content-pane
{
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

#snooper #content .content-pane .snoop-pane
{
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: 0.5s;
}

@media(max-width: 800px)
{
    #snooper #content #snoop
    {
        flex-direction: column !important;
    }

    #snooper #content .content-pane .snoop-pane
    {
        width: 100%;
        height: 100%;
    }

    #snooper #content .content-pane #snoop-details:hover
    {
        width: 100% !important;
    }
}

#snooper #content .content-pane .snoop-title
{
    width: 100%;
    padding: 27px;
    color: var(--sn-color-snoop-title);
}

#snooper #content .content-pane .snoop-pane .snoop-loading
{
    width: 100%;
    padding: 25px;
}

@keyframes loading {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#snooper #content .content-pane .snoop-pane .snoop-loading img
{
    margin-left: calc(50% - 25px);
    animation-name: loading;
    animation-duration: 0.7s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#snooper #content .content-pane #snoop-search
{
background-color: var(--sn-color-snoop-search);
}

#snooper #content .content-pane #snoop-transactions
{
background-color: var(--sn-color-snoop-transactions);
}

#snooper #content .content-pane #snoop-details
{
background-color: var(--sn-color-snoop-details);
}

#snooper #content .content-pane #snoop-details:hover
{
width: 80%;
transition: 0.5s;
}

#snooper #content .content-pane #snoop-details:hover::before
{
width: 10%;
transition: 0.5s;
}

#snooper #content .content-pane #snoop-details:hover::before::before
{
width: 10%;
transition: 0.5s;
}

#snooper #content .content-pane #snoop-search #snoop-search-input-container
{
    width: 100%;
    padding: 20px;
}

#snooper #content .content-pane #snoop-search #snoop-search-input-container input, .snoop-input
{
    float: left; 
    width: calc(100% - 35px);
    height: 40px;
    padding: 10px;
    font-size: 15px;

    border: var(--sn-size-snoop-search-input-border) solid var(--sn-color-snoop-search-input-border);
    border-right: 0px;

    background-color: var(--sn-color-snoop-search-input-bg);
    color: var(--sn-color-snoop-search-input);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#snooper #content .content-pane #snoop-search #snoop-search-input-container input:focus, .snoop-input:focus
{
    outline: none;
}

.snoop-input
{
    border-radius: 5px;
}

#snooper #content .content-pane #snoop-search #snoop-search-input-container a
{
    float: left;
    width: calc(35px);
    height: 40px;
    padding: 10px;
    font-size: 15px;

    background-color: var(--sn-color-snoop-search-input-bg);
    color: var(--sn-color-snoop-search-input);
    border: var(--sn-size-snoop-search-input-border) solid var(--sn-color-snoop-search-input-border);
    border-left: 0px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    cursor: pointer;
}

#snooper #content .content-pane .snoop-pane .snoop-item
{
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;

    color: white;

    display: flex;
    flex-direction: column;

    cursor: pointer;

    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1);
}

#snooper #content .content-pane .snoop-pane .snoop-item:hover
{
    transition: 0.2s;
    transform: scale(1.01, 1.01);
}

#snooper #content .content-pane .snoop-pane .snoop-item .item-id,
#snooper #content .content-pane .snoop-pane .snoop-item .item-data
{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

#snooper #content .content-pane .snoop-pane .snoop-item .item-id
{
    border-top-left-radius: var(--sn-item-border-radius);
    border-top-right-radius: var(--sn-item-border-radius);
}

#snooper #content .content-pane .snoop-pane .snoop-item .item-data
{
    border-bottom-left-radius: var(--sn-item-border-radius);
    border-bottom-right-radius: var(--sn-item-border-radius);
}

#snooper #content .content-pane .snoop-pane .snoop-item .asset-id
{
    background-color: var(--sn-color-asset-title);
    color: var(--sn-color-asset-id);
}


#snooper #content .content-pane .snoop-pane .snoop-item .asset-data
{
    background-color: var(--sn-color-asset-body);
    color: var(--sn-color-asset-data);
}

#snooper #content .content-pane .snoop-pane .snoop-item .transaction-id
{
    background-color: var(--sn-color-transaction-title);
    color: var(--sn-color-transaction-id);
}

#snooper #content .content-pane .snoop-pane .snoop-item .transaction-data
{
    background-color: var(--sn-color-transaction-body);
    color: var(--sn-color-transaction-data);
}

#snooper #content .content-pane .snoop-pane .snoop-item .detail-title
{
    background-color: var(--sn-color-detail-title);
    color: var(--sn-color-detail-id);
    word-wrap: break-word;
}

#snooper #content .content-pane .snoop-pane .snoop-item .detail-body
{
    background-color: var(--sn-color-detail-body);
    color: var(--sn-color-detail-data);
    word-wrap: break-word;
}

/* we don't want details to transform on hover */
#snooper #content .content-pane #snoop-details .snoop-item:hover
{
    transform: scale(1);
}

.settings-pane 
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: var(--sn-color-menu-hover);
}

.settings-pane .form-group 
{
    max-width: 600px;
    padding: 0 25px;
    color: var(--sn-color-settings-pane);
}

.settings-pane .form-group *
{
    margin-bottom: 15px;
    width: 100%;
}

.settings-pane .form-group button
{
    width: auto;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;

    color: var(--sn-color-settings-pane-button-text);
    background-color: var(--sn-color-settings-pane-button);
    transition: background-color 0.2s;
}

.settings-pane .form-group button:hover
{
    background-color: var(--sn-color-settings-pane-button-text-hover);
}